<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
<!--    <link href="style.css"-->
<!--    rel="stylesheet" type="text/css">-->
</head>
<body style="background-color: azure">
<form method="GET" action="/books/author">
    <label for="author">Введите автора</label>
    <input type="text" name="author" id="author">
    <input type="submit" value="Поиск по автору">
</form>
<form method="GET" action="/books/title">
    <label for="title">Введите название</label>
    <input type="text" name="title" id="title">
    <input type="submit" value="Поиск по названию">
</form>
<form method="GET" action="/books/publisher">
    <label for="publisher">Введите издателя</label>
    <input type="text" name="publisher" id="publisher">
    <input type="submit" value="Поиск по издательству">
</form>
<form method="GET" action="/books/year" >
    <label for="year">Введите год издания</label>
    <input type="text" name="year" id="year">
    <input type="submit" value="Поиск по году издания">
</form>
<form method="GET" action="/books/annotation" >
    <label for="annotation">Введите слово из аннотации</label>
    <input type="text" name="annotation" id="annotation">
    <input type="submit" value="Поиск по аннотации">
</form>
</body>
</html>